input,
textarea,
select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid #D6D3D1;
    padding: .75rem 1rem;
    font: var(--text);
}

label {
    font: var(--text-sm);
    margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
    /*This focus-within property makes the picker avaible to select too, making it's parent border orange when it's focused -> by the mouse or when navigating by tab (the key) through the page*/
    outline: .25rem solid var(--surface-secondary);
    border: .125rem solid var(--stroke-highlight);
}

input[type="date"] {
    &::-webkit-calendar-picker-indicator {
        background: url(/assets/icons/calendar-03.svg);
        width: 1.3rem;
        height: 1.3rem;
    }

    /*Style the default calendar on date input*/
}

select {
    background: url(/assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}

textarea {
    resize: none;
}

.dropzone {
    color: #A8A29E;
    border: 2px dashed #D6D3D1;
    border-radius: .5rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 1.5rem 1rem;

    & input {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &:hover,
    &:has(input:focus) {
        background-color: var(--surface-secondary);
        border: 2px dashed var(--stroke-highlight);
        border-radius: .5rem;

        & svg path {
            stroke: var(--stroke-highlight);
        }
    }
}

.cep-data {
    display: flex;
    gap: 1.25rem;

    div:first-of-type {
        flex: 2;
    }

    div:last-of-type {
        flex: 1;
    }
}

input[disabled] {
    background-color: var(--surface-disabled);
    color: var(--text-primary);
}

input {
    &:invalid {
        border: 2px solid var(--semantic-error);
        outline: none;
    }

    & + small {
        color: #78716C;
        display: inline-block; /* Margin bottom and top don't work in inline elements, so it's necessary to change the display to apply them*/
        margin-top: .25rem;
    }

    &[required] + .mail-invalid {
        display: flex;
        align-items: center;
        gap: .25rem;
        color: var(--semantic-error);
        margin-top: .25rem;
        font: var(--text-sm);
    }

    &:not(focus):valid + .mail-invalid { /*If the data isn't on focus and is valid, the error won't appear*/
        display: none;
    }
}

.input-wrapper:has([disabled]) {
    opacity: .6;
}

/*Styling the radio input*/

.radio-wrapper {
    margin-top: 1rem;
    gap: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
}

.radio-inner {
    border: 1px solid var(--stroke-color-default);
    border-radius: .5rem;

    display: grid;
    justify-items: center;
    gap: .5rem;
    padding: 2rem .5rem .5rem;
    position: relative;
    & input,
    & input:focus, 
    & input:hover {
        /*this block makes the input type radio available on the entire .radio-inner element, in other words, any local you click on that box, the input will be selected*/
        all: unset;
        position: absolute;
        inset: 0;
    }

    .radio-image {
        background-image: url(/assets/icons/circle.svg);
        width: 1.5rem;
        height: 1.5rem;

        position: absolute;
        top: .5rem;
        left: .5rem;
    }

    &:hover, &:focus-within {
        border: 1px, solid, var(--stroke-highlight);

        & .radio-image {
            background-image: url(/assets/icons/orange-circle.svg);
        }
    }

    &:has(:checked) {
        border: 2px, solid, var(--stroke-highlight);

        & .radio-image {
            background-image: url(/assets/icons/checkmark-circle-01.svg);
        }
    }
}

.terms-conditions {
    display: flex;
    gap: .75rem;
    position: relative;
    margin-block: 3rem;
    
    & input {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:hover, &:focus-within {
        .checkbox-image {
            background-image: url(/assets/icons/hovered-checkbox.svg);
        }
    }

    &:has(input:checked) {
        .checkbox-image {
            background-image: url(/assets/icons/checkbox-checked.svg);
        }
    }
    & .checkbox-image {
        background: no-repeat url(/assets/icons/checkbox.svg);
        height: 1.5rem;
        width: 1.5rem;
    }

    a {
        text-decoration: none;
        color: var(--text-highlight)
    }
}