fieldset {
    border: none;
    display: grid;
    gap: 1.5rem;
}

fieldset + fieldset {
    margin-top: 48px;
}

legend {
    font: 600 1rem/1.25 var(--font-family);
    margin-bottom: 1.5rem;
    color: var(--text-primary);
}